[submodule "src/ai/tflite-micro"]
	path = src/ai/tflite-micro
	url = https://github.com/tensorflow/tflite-micro.git
[submodule "src/ai/flatbuffers"]
	path = src/ai/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "src/ai/gemmlowp"]
	path = src/ai/gemmlowp
	url = https://github.com/google/gemmlowp.git
[submodule "src/ai/ruy"]
	path = src/ai/ruy
	url = https://github.com/google/ruy.git
